<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to CodeJava Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1>Order submitted!</h1>
    <br>
    <p>Your order will arrive in:</p><p th:text="${time}">time</p>
    <br>
    <h3><a th:href="@{~/user/user/order}">Order</a></h3> <!--/order-->
    <h3><a th:href="@{~/user/user/order-history}">Order History</a></h3>
    <h3><a th:href="@{~/user/user/location}">User location</a></h3>
    <!--<h3>User information</h3>-->
    <!--<h3><a th:href="@{login}">Log out</a></h3>-->
</div>

</body>
</html>